<p id="notice"><%= notice %></p>

<h1>Listing Foursquaregrids</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foursquaregrids.each do |foursquaregrid| %>
      <tr>
        <td><%= foursquaregrid.text %></td>
        <td><%= foursquaregrid.picture %></td>
        <td><%= link_to 'Show', foursquaregrid %></td>
        <td><%= link_to 'Edit', edit_foursquaregrid_path(foursquaregrid) %></td>
        <td><%= link_to 'Destroy', foursquaregrid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Foursquaregrid', new_foursquaregrid_path %>
