<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @foursquaregrid.text %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @foursquaregrid.picture %>
</p>

<%= link_to 'Edit', edit_foursquaregrid_path(@foursquaregrid) %> |
<%= link_to 'Back', foursquaregrids_path %>
