<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @sixteensquaregrid.text %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @sixteensquaregrid.picture %>
</p>

<%= link_to 'Edit', edit_sixteensquaregrid_path(@sixteensquaregrid) %> |
<%= link_to 'Back', sixteensquaregrids_path %>
