<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @ninesquaregrid.text %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @ninesquaregrid.picture %>
</p>

<%= link_to 'Edit', edit_ninesquaregrid_path(@ninesquaregrid) %> |
<%= link_to 'Back', ninesquaregrids_path %>
